* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: sans-serif;
	color: white;
	font-size: 1.5rem;
}

:root {
	--background-dark: #262527;
	--background-main: #414142;
	--background-light: #6e6e71

	/* --text-dark: #040D12; */
	/* --text-main: #9DB2BF; */
	/* --text-light: #F4EEE0; */
}
